<!DOCTYPE html>
<html>
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h2>Aling Puring Checkout Page</h2>
    <h4>**Items**</h4>
    <table>
        <tr>
            <td><b>Quantity</b></td>
            <td><b>Item</b></td>
            <td><b>Price</b></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Tinapang maliliit</td>
            <td>50.00</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Bagoong</td>
            <td>15.00</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Kamatis</td>
            <td>5.00</td>
        </tr>
    </table>
    <p>Total price: P 70.00</p>
    <p>Customer: Banung Salazar</p>
    <form method="post" action="http://localhost:8082/checkout">
        <input type="submit" value="CHECKOUT" />
    </form>
</body>
</html>